@model MenuViewModel

@{
    ViewData["Title"] = "Fish Dreams";
}

<div class="body-start navbar navbar-fixed-top row">
    <!-- Settings/User -->
    <div class="row padding-top">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <h4>@Html.ActionLink("Settings", "Index", "Settings")</h4>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-right">
            <h4>Hello, @Model.User.UserName</h4>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>

    </div>

    <!-- Center Start -->
    <div class="row padding-top">
        <div class="vertical-center text-center">

            <div class="row padding-top hidden-md hidden-lg"></div>
            <a href="@Url.Action("Mood", "Assessment")"><img src="~/images/start.png" style="width: 50%;" /></a>

        </div>
    </div>

    <!-- Footer -->
    <div class="navbar navbar-fixed-bottom row padding-bottom">

        <!-- Reports/About -->
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>

            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                <h4>@Html.ActionLink("Reports", "Index", "Report")</h4>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-right">
                <h4>@Html.ActionLink("About", "About")</h4>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>

        </div>



    </div>



</div>